<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/projects">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li><a href="https://scholar.google.com/citations?user=7uJJaLIAAAAJ&hl=en" class="fa fa-google"></a></li> 
				<li><a href="https://www.facebook.com/moucheng.xu.1" class="fa fa-facebook"></a></li> 
				<li><a href="https://github.com/moucheng2017" class="fa fa-github"></a></li>
				<li><a href="https://www.linkedin.com/in/moucheng-xu/" class="fa fa-linkedin"></a></li>
				<li><a href="https://twitter.com/YaoXuexiu" class="fa fa-twitter"></a></li>      
				<li><a href="https://www.instagram.com/xmc_1128_/?hl=en" class="fa fa-instagram"></a></li> 
				<li><a href="moucheng.xu.18@ucl.ac.uk" class="fa fa-mail"></a></li> 
<!-- 				<li><a href="moucheng.xu.18@ucl.ac.uk"> Email </a></li>  -->
				</ul>
			</footer>
		</body>
	</html>
